{% extends Include + "layout.njk" %}

{% block styles %}
  <link rel="stylesheet" href="/index.css">
{% endblock %}

{% block content %}
  <ul class="nav-collection">
    {% for el in [1,2,3] %}
      <li class="nav-collection__item">
        {{ el }}
      </li>
    {% endfor %}
  </ul>
  <img src="/static/catfuck.png" alt="cat">
{% endblock %}

{% block scripts %}
  <script src="/index.js"></script>
{% endblock %}
