{% set pageName = "index-page" %}

{% extends Include + "layout.njk" %}

{% block content %}
  <ul class="nav-collection">
    {% for el in [1,2,3] %}
      <li class="nav-collection__item">
        {{ el }}
      </li>
    {% endfor %}
  </ul>
  <a href="/profile.html">
    Смотреть профиль
    <img src="/static/catfuck.png" alt="cat">
  </a>
{% endblock %}

{% block scripts %}
  <script src="/index.js"></script>
{% endblock %}
